# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/sAFA/safa.log
/sAFA/sAFA
/sAFA/sAFA.cbp
/sAFA/CMakeLists.txt
/sAFA/Makefile
/sAFA/cmake_install.cmake
/sAFA/safa.cbp
/sAFA/CMakeCache.txt
.idea/
cpu/CMakeCache.txt
cpu/CMakeFiles/
cpu/CMakeLists.txt
cpu/Makefile
cpu/cmake-build-debug/
cpu/cmake_install.cmake
cpu/cpu
cpu/cpu.cbp
cpu/cpu.log
elDiego/CMakeCache.txt
elDiego/CMakeFiles/
elDiego/CMakeLists.txt
elDiego/Makefile
elDiego/cmake-build-debug/
elDiego/cmake_install.cmake
elDiego/elDiego
elDiego/elDiego.cbp
elDiego/elDiego.log
ensalada/ensalada/CMakeLists.txt
ensalada/ensalada/cmake-build-debug/
fm9/CMakeCache.txt
fm9/CMakeFiles/
fm9/CMakeLists.txt
fm9/Makefile
fm9/cmake-build-debug/
fm9/cmake_install.cmake
fm9/fm9
fm9/fm9.cbp
fm9/fm9.log
mdj/CMakeCache.txt
mdj/CMakeFiles/
mdj/CMakeLists.txt
mdj/Makefile
mdj/cmake-build-debug/
mdj/cmake_install.cmake
mdj/mdj
mdj/mdj.cbp
mdj/mdj.log
sAFA/CMakeCache.txt
sAFA/CMakeFiles/
sAFA/CMakeLists.txt
sAFA/Makefile
sAFA/cmake-build-debug/
sAFA/cmake_install.cmake
sAFA/sAFA
sAFA/sAFA.cbp
sAFA/safa.cbp
sAFA/safa.log
eldiegotest.txt
/fm9/fm9.log
/sAFA/safa.cfg
/.gitignore
/fm9/.gitignore
